---
import "../css/generalstyle.css";
import MainLayout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";

const response = await fetch("https://jhfjphjzgaxwvmiboyhj.supabase.co/rest/v1/speakersntalks", {
		method:"GET",
		headers: {
			apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoZmpwaGp6Z2F4d3ZtaWJveWhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYzMjEwNTAsImV4cCI6MjAxMTg5NzA1MH0.UcoT8cKIOL89hswLUhzwZsDdf-_Rrvusn-9O08NTxAI"
	}});
	const data = await response.json();
	 console.log(data);

const { speaker } = Astro.props;

---
<MainLayout title="Schedule">

	<details><summary>Debugger</summary>
		<debug {data} />
	   </details>

	<body>
		<header>

		</header>
		<main>
		<h1>Schedule</h1>
		<button class="accordion">Saturday 20th</button>
		<div class="panel">
			<section class="grid_1-1">
				<ul>
					<li><a href="/speaker/alanmckenzie">Alan McKenzie</a></li>
					<li><a href="/speaker/amirsherman">Amir Sherman</a></li>
					<li><a href="/speaker/biancazhang">Bianca Zhang</a></li>
					<li><a href="/speaker/brunoramos">Bruno Ramos</a></li>
					<li><a href="/speaker/catrinaallen">Catrina Allen</a></li>
					<li><a href="/speaker/felipemarquez">Felipe Marquez</a></li>
					<li><a href="/speaker/ivanazavala">Ivana Zavala</a></li>
					<li><a href="/speaker/jacobbenjamin">Jacob Benjamin</a></li>
					<li><a href="/speaker/liyu">Dr. Li Yu</a></li>
					<li><a href="/speaker/mariadibiaggio">Maria Di Biaggio</a></li>
					<li><a href="/speaker/mileswise">Miles Wise</a></li>
					<li><a href="/speaker/mollyfinkleton">Molly Finkleton</a></li>
					<li><a href="/speaker/nathaniellombardy">Nathaniel Lombardy</a></li>
					<li><a href="/speaker/racheldelavega">Rachel de la Vega</a></li>
					<li><a href="/speaker/saramuller">Sara Müller</a></li>
					<li><a href="/speaker/simonedevantier">Simone Devantier</a></li>
				</li>
			</ul>
		</section>
			<!-- <a href=`speaker/${speaker.slug}`>Singleview</a> -->
			


			{
				data.map((product) => {
				  return <Card  obj={product}/> ;
				})
			  }

		</main>
	<style>
		h1 {
			color: rgb(255, 90, 67);
			text-align: center;
			font: font-family: 'Roboto Condensed', sans-serif;
		}
		.accordion {
			background-color: #fab3b2;
			color: white;
			cursor: pointer;
			padding: 18px;
			width: 55%;
			text-align: center;
			border: none;
			outline: none;
			transition: 0.4s;
			margin-left: 25%;
			font-family: 'Quicksand', sans-serif;
			font-size: 20px;
		}
			button.active, .accordion:hover {
				background-color: #AF5351;
			}
			.panel {
				background-color: #EBF6FF;
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.2s ease-out;
			}
			.panel p{
				width: 45%;
				font-size: 18px;
			
			}
			</style>
			<script>
				var acc = document.getElementsByClassName("accordion");
				var i;
			
				for (i = 0; i < acc.length; i++) {
				  acc[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight) {
				  panel.style.maxHeight = null;
				} else {
				  panel.style.maxHeight = panel.scrollHeight + "px";
				} 
			  });
			}
			</script>
	</body>

</Mainlayout>

	


