---
const {buttontext, buttonlink} = Astro.props;
---
<div>
    <a href={buttonlink}<h3>{buttontext}</h3></a>
</div>

<style>


a {
    display: inline-block;
    font-family: "RobotoCondensed-Regular";
    padding: 8px 40px;
    background-color: #042725;
    color: #ff5a43;
    text-decoration: none;
    font-size: 30px;
    border-radius: 15px;
    outline-style: solid;
    outline-color: #d2d2d2;
    max-width: fit-content;
   
}



</style>