---
const { header, important, infotext } = Astro.props;
---

<article>
  <h2>Information</h2>
  <div class="divider">
    <h3>March 20th - 21st, 2024</h3>
    <p>10.00 - 19.00 GMT</p>
  </div>
  <div class="divider">
    <h3>Big Bio Nordhavn</h3>
    <p>Hamborg Plads 6, 2150 København</p>
  </div>
  <div class="divider">
    <h3>20+ speakers</h3>
    <p>Hybrid conference, live & virtual</p>
  </div>
  <div class="divider"></div>
</article>

<style>
  article {
    /* padding-left: 20%;*/
  }
  h2 {
    font-family: "RobotoCondensed-Regular";
    color: #d2d2d2;
    font-size: 30px;
  }

  h3 {
    color: #ff5a43;
    font-family: "Roboto-Mono";
    font-size: 20px;
    word-spacing: 10px;
    line-height: 40px;
  }

  p {
    font-family: "Roboto-Mono";
    color: #12b3aa;
    font-size: 18px;
  }

  .divider {
    border-top: 1px solid #efefef;
    width: 440px;
  }
</style>
