---
const { aboutus, text } = Astro.props;
---
<div>
<h2>More than a conference!</h2>
<p>
  Denmark's premier conference on UX. Join us for two days of enriching talks by
  20+ global speakers, interactive workshops, networking, and invaluable
  insights. At our 'Degrowth and Consumerism' conference, we will confront the
  urgent need for change and explore a sustainable way forward for our industry.
</p>
</div>
<style>

div {
        
       
        padding-left: 1%;
    }
  h2 {
    color: #d2d2d2;
    font-size: 30px;
  }

  p {
    color: #d2d2d2;
    font-size: 25px;
    max-width: 35ch;
    line-height: 30px;
  }

</style>
