---
import Buttons from "../components/Buttons.astro";
---

<div>
  <h2>More than a conference!</h2>
  <p>
    Denmark's premier conference on UX. <br> Join us for two days of enriching talks
    by 20+ global speakers, interactive workshops, networking, and invaluable
    insights. <br> At our 'Degrowth and Consumerism' conference, we will confront the
    urgent need for change and explore a sustainable way forward for our
    industry.
  </p>
  <br />
  <div class="buttons">
    <Buttons buttontext="Schedule" buttonlink="schedule" />
    <Buttons buttontext="Speakers" />
  </div>
</div>
<style>
  div {
    /* padding-left: 2%;*/
  }

  .buttons {
    display: flex;
    gap: 2rem;
  }
  h2 {
    font-family: "RobotoCondensed-Regular";
    color: #d2d2d2;
    font-size: 30px;
  }

  p {
    font-family: "Roboto-Regular";
    color: #d2d2d2;
    font-size: 20px;
    max-width: 40ch;
    line-height: 40px;
  }
</style>
