---
import "../css/generalstyle.css";
---
<nav role='navigation'>
	<a href="/"><img src="/public/logo-ux.webp" alt="A sleeping cat."></a>

<ul class="onpage">
	<li><a href="#">Buy tickets</a></li>
	<li><a href="schedule">Schedule</a></li>
	<li><a href="#">Speakers</a></li>
</ul>
	<div id="menuToggle">

		<input type="checkbox" />

		<span></span>
		<span></span>
		<span></span>

		<ul id="menu">
			<a href="#"><li>Privacy policy</li></a>
			<a href="#"><li>Code of conduct</li></a>
			<a href="#"><li>About</li></a>
			<a href="#"><li>Contact</li></a>
			<a href="#"><li>Previous talks</li></a>
		  </ul>
		</div>
</nav>

<style>
img{
width: 150px;
padding: 20px;
padding-left: 40px;
}
.onpage {
    list-style: none;
    display: flex;
	margin-left: 70%;
	margin-top: -48px;
    gap: 2em;
    padding: 0 1em 0 0;
  }
.onpage a{
	font-size:20px;
}
a
{
  text-decoration: none;
  color: #D2D2D2;
  transition: color 0.2s ease;
}
a:hover
{
  color: #ff5a43;
}
#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #12b3aa;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 50px;
  right: -100px;
  background-color: #042725;
  margin-top: 10px;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px;
  font-size: 22px;
  line-height: 31px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}
</style>

