html {
  --primary: #042725;
  --secondary: #ff5a43;
  --tertiary: #12b3aa;
  --quarternary: #d2d2d2;
}

/* import af fonts */

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Mono";
  src: url("../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu-Mono";
  src: url("../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf");
}
